Repository playerony/shopping-cart-state-machine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, npm run stylelint:fix, prettier-package-json --write

.lintstagedrc:

{
  "*.js": "eslint --cache --fix",
  "*.{js,md}": "prettier --write",
  "*.css": "npm run stylelint:fix",
  "*.src/**/*": "prettier --write",
  "package.json": "prettier-package-json --write"
}

chore: configure webpack with react
  .babelrc.js
  .eslintrc
  package-lock.json
  package.json
  public/index.html
  src/index.js
  src/index.jsx
  src/parts/app/app.component.jsx
  src/parts/app/app.styles.css
  src/parts/index.js
  webpack.config.js
Due: eslint --cache --fix, prettier --write, npm run stylelint:fix, prettier-package-json --write

chore: configure webpack with react (#2)
  .babelrc.js
  .eslintrc
  package-lock.json
  package.json
  public/index.html
  src/index.js
  src/index.jsx
  src/parts/app/app.component.jsx
  src/parts/app/app.styles.css
  src/parts/index.js
  webpack.config.js
Due: eslint --cache --fix, prettier --write, npm run stylelint:fix, prettier-package-json --write

feat: implement fetch products machine
  build-config/webpack.development.js
  dev-server/cart.json
  dev-server/mockServer.js
  dev-server/webpack.server.config.js
  src/machine/products.machine.js
  src/parts/app/app.component.jsx
Due: eslint --cache --fix, prettier --write

fix: config
  src/parts/app/app.component.jsx
Due: none

feat: implement fetch products machine (#3)
  build-config/webpack.development.js
  dev-server/cart.json
  dev-server/mockServer.js
  dev-server/webpack.server.config.js
  src/machine/products.machine.js
  src/parts/app/app.component.jsx
Due: eslint --cache --fix, prettier --write

feat: create cart manager state
  .eslintrc
  src/app.component.jsx
  src/index.jsx
  src/machine/products.machine.js
  src/parts/index.js
  src/product-quantity.component.jsx
  src/products.machine.js
  src/styles.css
Due: eslint --cache --fix, prettier --write, npm run stylelint:fix

fix: fix
  public/index.html
  src/app.component.jsx
Due: none

feat: create cart manager state (#4)
  .eslintrc
  public/index.html
  src/app.component.jsx
  src/index.jsx
  src/machine/products.machine.js
  src/parts/index.js
  src/product-quantity.component.jsx
  src/products.machine.js
  src/styles.css
Due: eslint --cache --fix, prettier --write, npm run stylelint:fix

chore: add checking state
  package-lock.json
  package.json
  src/app.component.jsx
  src/machine/products.machine.js
  src/parts/index.js
  src/parts/product-list.component.jsx
  src/parts/product-quantity.component.jsx
  src/styles.css
Due: eslint --cache --fix, prettier --write, npm run stylelint:fix, prettier-package-json --write

fix: c
  src/app.component.jsx
Due: none

chore: add checking state (#5)
  package-lock.json
  package.json
  src/app.component.jsx
  src/machine/products.machine.js
  src/parts/index.js
  src/parts/product-list.component.jsx
  src/parts/product-quantity.component.jsx
  src/styles.css
Due: eslint --cache --fix, prettier --write, npm run stylelint:fix, prettier-package-json --write

refactor: improve products machine code
  src/app.component.jsx
  src/machine/products.machine.js
Due: eslint --cache --fix, prettier --write

fix: conn
  src/app.component.jsx
  src/machine/products.machine.js
Due: eslint --cache --fix, prettier --write

refactor: improve products machine code (#6)
  src/app.component.jsx
  src/machine/products.machine.js
Due: eslint --cache --fix, prettier --write
